<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<form action="#" th:action="@{/send}" th:object="${task}" method="post">
    <p>Предприятие производит комплекты продукции видов A и B, используя при этом четыре группы оборудования. Выпуск одного комплекта продукции A обеспечивает прибыль
        <input type="number" th:field="*{priceA}"> тыс.долл., продукции B –
        <input type="number" th:field="*{priceB}"> тыс.долл. Трудоемкость изготовления одного комплекта
        продукции и фонд времени по каждой группе оборудования представлены в таблице:</p>

    <table>
        <tr>
            <th rowspan="2">Группа Оборудования</th>
            <th colspan="2">Трудоемкость изготовления (дни)</th>
            <th rowspan="2">Фонд времени (дни)</th>
        </tr>
        <tr>
            <th>Комплект A</th>
            <th>Комплект B</th>
        </tr>
        <tr th:each="module, iterStat : *{listWrapper.modules}">
            <td th:text= "'Модуль'+ ${iterStat.index + 1}"> </td>
            <td><input type="number" th:field="*{listWrapper.modules[__${iterStat.index}__].kitA}"></td>
            <td><input type="number" th:field="*{listWrapper.modules[__${iterStat.index}__].kitB}"></td>
            <td><input type="number" th:field="*{listWrapper.modules[__${iterStat.index}__].timeFund}"></td>
        </tr>
    </table>
    <br>
    <button type="submit" >Получить результат</button>
</form>
</body>
</html>