<!DOCTYPE html>
<html>
<head>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>

<h2>Целевая функция:</h2>
<p>\(f(x) = 2000x_1 + 3000x_2 \rightarrow \max\)</p>

<h2>Ограничения:</h2>
<p>\[
  \left\{
  \begin{array}{l}
  3x_1 + 3x_2 \leq 15, \\
  2x_1 + 6x_2 \leq 18, \\
  4x_1 \leq 16, \\
  x_1 + 2x_2 \leq 8, \\
  x_1, x_2 \geq 0
  \end{array}
  \right.
  \]</p>

</body>
</html>
